.clearfix:after {
/* expands collapsed parent to clear its height past its floating children */
    content: ".";
/* adds html text of period symbol (:after) all opther children inside the parent with is .clear:after class applied to it. */
    display: block;
/* set newly created content: to display block */
    clear: both;
/* sets the '.' content to clear past all of the floating children giving a height reference. */
    visibility: hidden;
/* make the '.' content invisible. */
    line-height: 0;
/* make sure it has no text line-height */
    height: 0;
/* make sue it has no physical height */
}

.clear {
    clear: both;
}

/* ==== */

body {
    background-image: url('../images/noise-texture.png'), url('../images/cogs.png');
    background-repeat: repeat, no-repeat;
    background-attachment: fixed;
    background-position: top center;
    height: 100%;
}

/* == navigation == */



/* ==== */

#container {
    width: 960px;
    margin: 27px auto 54px;
}

section {
    width: 952px;
    margin: 0 4px;
    background-color: #FFF;
    background-color: rgba(255,255,255,0.93);
}

article {
    float: left;
    width: 716px;
    margin: 12px 0 0;
}

aside {
    float: left;
    width: 235px;
    margin: 12px 0 0;
    border-left: 1px #000 solid;
}

/* ==== */

.wrapper {
	height: 100%;
    width: 100%;
    background-color: #CCC;
}

footer {
    margin: 0;
    padding: 36px 0 54px 0;
    font-family: helvetica neue, helvetica, sans-serif;
    font-size: 27px;
    text-align: center;
    font-weight: lighter;
    letter-spacing: 3px;
    color: #000;
}

/* ==== */

h1 {
    margin: 0 0 12px;
    font-family: helvetica neue, helvetica, sans-serif;
    font-size: 27px;
    text-align: center;
    color: #000;
}

h2 {
    margin: 0;
    padding: 12px 0 0 24px;
    font-family: helvetica neue, helvetica, sans-serif;
    font-size: 27px;
}

h3 {
    margin: 0;
    padding: 12px 0 0 24px;
    font-family: helvetica neue, helvetica, sans-serif;
    font-size: 18px;
}

h4 {
    margin: 0;
    padding: 12px 108px;
    font-family: helvetica neue, helvetica, sans-serif;
    font-size: 18px;
}

p {
    padding: 0 108px;
    font-family: helvetica neue, helvetica, sans-serif;
}

/* ==== */

.imagefirst {
    color: #fff;
}

.imagesecond {
    width: 54px;
    height: 66px;
}

/* ==== */

.sites {
    margin: 6px 0;
    padding: 12px 108px 0;
    list-style: none;
    line-height: 21px;
}

ul.sites li a:link,ul.sites a:visited,ul.sites a:active {
    color: #4224FF;
    text-decoration: none;
}

ul.sites li a:hover {
    color: #7111E8;
    text-decoration: none;
    border-bottom: 1px #7111E8 solid;
}

/* ==== */

.sidebar {
    margin: 6px 0;
    padding: 12px 0 0 24px;
    list-style: none;
    line-height: 21px;
}

ul.sidebar li a:link,ul.sidebar a:visited,ul.sidebar a:active {
    color: #E50000;
    text-decoration: none;
}

ul.sidebar li a:hover {
    color: #400000;
    text-decoration: none;
    border-bottom: 1px #400000 solid;
}

/* ==== */

.divide {
    margin: 0 12px;
    padding: 12px 0;
    border-bottom: 1px #E89F37 solid;
}

.line {
    margin: 0;
    padding: 12px 0;
    border-bottom: 1px #000 dotted;
}

.topline {
    padding: 0;
    border-bottom: 1px #000 solid;
}

.bottomline {
    margin: 0 0 24px;
    border-bottom: 1px #000 solid;
}