.clearfix:after {
/* expands collapsed parent to clear its height past its floating children */
    content: ".";
/* adds html text of period symbol (:after) all opther children inside the parent with is .clear:after class applied to it. */
    display: block;
/* set newly created content: to display block */
    clear: both;
/* sets the '.' content to clear past all of the floating children giving a height reference. */
    visibility: hidden;
/* make the '.' content invisible. */
    line-height: 0;
/* make sure it has no text line-height */
    height: 0;
/* make sue it has no physical height */
}

.clear {
    clear: both;
}

/* ==================================================== */

body {
	background: #CCC;
	background: url('../img/noise.png');
}

.wrapper {
	width: 1020px;
	margin: 0 auto;
	background: white;
	border-top: 12px #CCC solid;
	box-shadow: 0 0 9px #888888;
}

.container {
	width: 970px;
	margin: 0 auto 36px;
	background: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333333;
}

/* ==================================================== */

h1 {
	font-family: georgia, serif;
	font-size: 36px;
}

h2 {
	font-family: georgia, serif;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 0.3px;
}

h3 {
	font-family: georgia, serif;
	margin: 9px 0 6px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0.3px;
}

h4 {
	font-family: georgia, serif;
	margin: 3px 0 9px;
	font-size: 12px;
	font-weight: normal;
	letter-spacing: 0.3px;
	color: #7e7e7e;
}

h5 {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;	margin: 9px 0 6px;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0.3px;
	color: #333333;
}

/* ==================================================== */

.image-gallery {

}

.modal-body {
	padding: 12px;
	background: ;
}

.modal-content { 
	border-radius: 0;
}

.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=100);
}

/* ==================================================== */

header {
	padding: 27px 0 18px;
	text-align: left;
}

.headercell {
	font-family: georgia, serif;
	font-size: 15px;
}

.headercellborder-r {
	border-right: 1px #CCC solid;
}

.headercellborder-l {
	border-left: 1px #CCC solid;
}

u {
    text-decoration: none;
    border-bottom: 1px solid #FF353D;
 }​

/* ==================================================== */

.contact {

}

a.contact:link, a.contact:visited {
    color: #333333;
    text-decoration: none;
}

a.contact:hover {
	color: #5941E8;
}

/* ==================================================== */

nav {

}

.subnav {
	margin: 0;
	padding: 0;
	text-align: left;
}

ul.subnav li {
    float: left;
    margin: 0 9px 0 0;
}

ul.subnav li a {
}

ul.subnav li a:link,ul.subnav li a:visited {
    color: #333333;
    text-decoration: none;
}

ul.subnav li a:hover,ul.subnav li a.active {
    border-bottom: 1px solid #FF353D;
    padding: 0 0 3px 0;
}

/* ==================================================== */

section {
	margin: 9px 0;
}

p {
	margin: 0;
}

/* ==================================================== */

.latestworkcell {
	padding-bottom: 9px;
	border-bottom: 1px #CCC solid;
	text-align: center;
}

.latestworkcellimage {
	max-width: 100%;
	max-height: 100%;
}

/* ==================================================== */

.workcell {
	padding: 27px 0 9px 0;
	border-bottom: 1px #CCC solid;
}

.workcellimage {
	max-width: 100%;
	max-height: 100%;
}

.date {
	float: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

meta {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* ==================================================== */

a.albums:link, a.albums:visited {
    color: #333333;
    text-decoration: none;
}

a.albums:hover {
	color: #FF353D;
}

/* ==================================================== */

.aboutcell {
	
}

.aboutlatest {
	margin-bottom: 24px;
	padding-bottom: 9px;
	border-top: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	text-align: left;
}

/* ==================================================== */

.aboutalbums {
	padding-bottom: 9px;
	border-top: 1px #CCC solid;
	border-bottom: 1px #CCC solid;
	text-align: left;
}

/* ==================================================== */

.abouttags {
	padding-bottom: 9px;
	border-top: 1px #CCC solid;
	text-align: left;
	border-bottom: 1px #CCC solid;
}

.tagscell {
	margin: 9px 0 0 0;
	padding-bottom: 18px;
	border-bottom: 1px #CCC solid;
	text-align: center;
}

/* ==================================================== */

.footwrap {
	height: 81px;
	padding: 12px 0 0 0;
	color: white;
	background: #CCC;
}

footer {
	border-top: 1px white solid;
}

.footercell {
	padding: 18px 0 0 40px;
}

.alignright {
	padding: 18px 40px 0 0;
	text-align: right;
}

/* ==================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm) { ... }

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md) { ... }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg) { ... }
