.clearfix:after { /* expands collapsed parent to clear its height past its floating children */
 
  content: "."; /* adds html text of period symbol (:after) all opther children inside the parent with is .clear:after class applied to it. */
	
	display: block; /* set newly created content: to display block */
	
	clear: both; /* sets the '.' content to clear past all of the floating children giving a height reference. */
	
	visibility: hidden; /* make the '.' content invisible. */
	
	line-height: 0; /* make sure it has no text line-height */
	height: 0; /* make sue it has no physical height */
}

.clear {
	clear: both;
}

/*====*/

body {
	background-image: url('../images/bg_body.jpg');
}

#wrapper {
	background-image: url('../images/bg_wrapper.png');
	background-repeat: repeat-x;
} 

#container {
	width: 960px;
	margin: 0 auto;
} 

h1 {

}

h2 {
	font-family: helvetica, sans-serif;
	font-size: 27px;
}

h3 {
	padding: 0 0 18px 0;
	font-family: helvetica, sans-serif;
	font-size: 18px;
	color: white;
}

/*====header====*/

header {
}

/*====nav====*/

nav {
	width: 100%;
	display: block;
	font-family: helvetica, sans-serif;
}


nav ul li {
	/*padding: 24px 0;*/
	float: left;
}

	
nav li a {
	display: block;
	padding: 30px;
	color: white;
	text-decoration: none;
}

nav a:link, nav a:active, nav a:visited {
	color: white;
	text-decoration: none;
}

nav a:hover {
	background: url('../images/bg_nav_rollover.png') repeat-x;
}

/*====logo====*/


h1 a {
	background: url('../images/logo.png') no-repeat;
	width: 290px;
	height: 55px;
	margin: 20px 0 0 0;
	float: left;
	display: block;	

	/* image replacment technique */
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}

/*====social media====*/

#socialmedia ul li a {
	margin: 20px 0 0 0;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	height: 60px;
	width: 60px;
	background-image: url('../images/socialNav.png');
	float: right;
	background-position-y: 60px;
}

#socialmedia ul li a:hover {
	background-position-y: -4px;
}

li.facebook a {
	background-position-x: 130px;
}

li.twitter a {
	background-position-x: 190px;
}

li.rss a {
	background-position-x: 70px;
}


/*====main====*/


#main-content {

}

section{

}

article {

}

/*====photo banner====*/

.photobanner {

} 

.imageshadow {

}

/*for want of a better fix*/

.line-height {
	line-height: 0;
}

/*====blurb====*/

#blurb {
	padding: 24px 24px 36px 24px;
	border-top: 1px #A8A8A8 solid;
	border-left: 1px #A8A8A8 solid;
	border-bottom: 1px white solid;
	border-right: 1px white solid;	
}

.quote-button {
	padding-left: 24px; 
	float: right;
	display: block;
}

/*====home boxes====*/

#home-boxes {
	height: 288px;
	margin: 36px 0 18px 0;
	font-family: helvetica, sans-serif;
}

.home-box-one {
	float: left;
	margin-right: 46px;
	width: 274px;
	color: #4C4646;
}

.home-box-two {
	float: left;
	margin-right: 46px;
	width: 274px;
	color: #4C4646;
}

.home-box-three {
	float: left;
	margin-right: 46px;
	width: 274px;
	color: #4C4646;
}

.column-images {
	margin: 24px 0 24px;
	border: 6px #E5E4E2 solid;
}

.homebox {
	font-size: 12px;
	line-height: 15px;
}

.homebox a:link, .homebox a:active, .homebox a:visited {
	color: #78C7C7;
	text-decoration: none;
}

.homebox a:hover {
	color: red;
}

/*====footer====*/

footer {

}

.box-footer {
	margin: 0 auto 54px auto;
	padding: 54px 0;
	height: 252px;
	width: 960px;
	background-color: black;
	color: #4C4646;
	font-family: helvetica, sans-serif;
	font-size: 12px;
}
 
.blogroll {
	float: left;
	width: 234px;
	padding-right: 30px;
}
 
.textwidget {
	float: left;
	width: 396px;
	padding-right: 30px;
}

.metawidget {
	float: left;
	width: 234px;
	padding-right: 30px;
}

.footwrap {
	height: 100%;
	width: 100%;
	background-color: black;
}

.line {
    margin: 12px 0;
    border-bottom: 1px #4C4646 solid;
}

#copyright

#companybottom 

